.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path do
            = fa_icon 'edit', class: 'icon'
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。